---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ perses_tls_secret_name }}
  namespace: {{ perses_namespace }}
  labels:
    app.kubernetes.io/name: perses
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ perses_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ perses_ingress_host }}
