---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: perses
  namespace: {{ perses_namespace }}
  labels:
    app.kubernetes.io/name: perses
    app.kubernetes.io/instance: perses
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/managed-by: ansible
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ perses_ingress_host }}
      secretName: {{ perses_tls_secret_name }}
  rules:
    - host: {{ perses_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: perses
                port:
                  number: 8080
