---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ perses_namespace }}
  labels:
    app.kubernetes.io/name: perses
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/managed-by: ansible
