---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
  - name: perses
    repo: https://perses.github.io/helm-charts
    version: 0.19.2
    releaseName: perses
    namespace: monitoring
    valuesFile: values.yaml

resources:
  - certificate.yaml
  - ingress.yaml
