---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homepage

resources:
  - namespace.yaml
  - rbac.yaml
  - configmap.yaml
  - sealedsecret.yaml
  - storage.yaml
  - service.yaml
  - certificate.yaml
  - ingress.yaml
  - deployment.yaml
