---
- name: Restart cloudflared
  ansible.builtin.systemd:
    name: cloudflared
    state: restarted
    daemon_reload: true
  become: true

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
